<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>commoditys</key>
		<array>
			<dict>
				<key>commodityDescription</key>
				<string>这款是非常好看的,这款是非常好看的,这款是非常好看的,这款是非常好看的,这款是非常好看的</string>
				<key>commodityName</key>
				<string>新款男士羽绒服</string>
				<key>commodityPrice</key>
				<string>149.8</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>北京易联拥有雄厚技术开发实力,为大唐电信,中美国际,中国铁建等提供技术.公司拥有一批APP开发技术人才,开发过各种APP应用,并获得客户高度评价.</string>
				<key>commodityName</key>
				<string>户外鞋</string>
				<key>commodityPrice</key>
				<string>224.33</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>经过测试我发现code4app是从上面下载了一份然后拿来测试再发布出来,问题在于你们提供的代码下载地址链接的是你们服务器上一开始获取的那一份,并不是时...</string>
				<key>commodityName</key>
				<string>休闲裤 大码</string>
				<key>commodityPrice</key>
				<string>112.48</string>
			</dict>
		</array>
		<key>shopName</key>
		<string>jeep旗舰店</string>
	</dict>
	<dict>
		<key>commoditys</key>
		<array>
			<dict>
				<key>commodityPrice</key>
				<string>98.8</string>
				<key>commodityName</key>
				<string>[新款上市]水泥地系列</string>
				<key>commodityDescription</key>
				<string>安踏水泥地系列,穿上就不想拖!!</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>好好说话事实上事实上颜色有点淡,好好说话事实上事实上颜色有点淡.</string>
				<key>commodityName</key>
				<string>过时男士羽绒服</string>
				<key>commodityPrice</key>
				<string>33.49</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>大头皮鞋新款大头皮鞋,穿上大头皮鞋想起我的爷爷!!</string>
				<key>commodityName</key>
				<string>大头皮鞋</string>
				<key>commodityPrice</key>
				<string>123.22</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>北京2008年奥运火炬,限时出售,跨快行动!!</string>
				<key>commodityName</key>
				<string>奥运火炬[限时包邮]</string>
				<key>commodityPrice</key>
				<string>8844.48</string>
			</dict>
		</array>
		<key>shopName</key>
		<string>李宁官方旗舰店</string>
	</dict>
	<dict>
		<key>commoditys</key>
		<array>
			<dict>
				<key>commodityDescription</key>
				<string>好看的运动裤,孩子你缺一条像样的运动裤!!</string>
				<key>commodityName</key>
				<string>安踏运动裤</string>
				<key>commodityPrice</key>
				<string>22.67</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>这款更牛逼,快快行动吧!!</string>
				<key>commodityName</key>
				<string>好运牌乒乓球拍</string>
				<key>commodityPrice</key>
				<string>38.98</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>有了乒乓球拍岂能不买乒乓球,快来吧!!!</string>
				<key>commodityName</key>
				<string>好运牌乒乓球</string>
				<key>commodityPrice</key>
				<string>3.88</string>
			</dict>
		</array>
		<key>shopName</key>
		<string>安踏旗舰店</string>
	</dict>
	<dict>
		<key>commoditys</key>
		<array>
			<dict>
				<key>commodityPrice</key>
				<string>98.99</string>
				<key>commodityName</key>
				<string>钓鱼竿 88KG</string>
				<key>commodityDescription</key>
				<string>深度1000谜测试,深度1000谜测试深度1000谜测试深度1000谜测试深度1000谜测试深度1000谜测试深度1000谜测试深度1000谜测试</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>新款板鞋,金秋爆款,不走寻常路!</string>
				<key>commodityName</key>
				<string>新款板鞋</string>
				<key>commodityPrice</key>
				<string>255.88</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>新款外套,天天特价</string>
				<key>commodityName</key>
				<string>运动休闲!</string>
				<key>commodityPrice</key>
				<string>22.33</string>
			</dict>
			<dict>
				<key>commodityDescription</key>
				<string>新款皮鞋,新款皮鞋,新款皮鞋,新款皮鞋,新款皮鞋,新款皮鞋,新款皮鞋,新款皮鞋,新款皮鞋,新款皮鞋!!!</string>
				<key>commodityName</key>
				<string>老人与海皮鞋</string>
				<key>commodityPrice</key>
				<string>189.98</string>
			</dict>
		</array>
		<key>shopName</key>
		<string>美特斯邦威旗舰店</string>
	</dict>
</array>
</plist>
